.container{
    background-color: black;
    padding: 20px;
    margin-top: 10px;
    position: absolute;
    top: 500;
    width: 1366px;
   text-align: center;
}

.header{
    color: blue;
    font-family: cursive;
    font-size: 30px;
    cursor: pointer;
}

.para{
    color: white;
}

.span{
    color: turquoise;
    cursor: pointer;
}

@media(max-width:480px){
    .container{
    
        padding: 20px;
        margin-top: 10px;
        position: absolute;
        top: 300;
        width: 390px;
       text-align: center;
    }
}